.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container div {
    flex: 1;
}

.expense {
    margin-left: 20px; /* Adjust the spacing between the form and the list */
}
